.center {
  justify-self: center;
}

.local,
.global {
  font-size: 10px;
  font-weight: 500;

  & span {
    font-size: 12px;
    font-weight: 700;
  }
}

.global {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
